*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F6F9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding: 10px 120px;
    background-color: #2980b9;
    color: white;
}

.wrapper {
    padding: 10px 120px;
    display: flex;
    flex: 1;
}

.left-content,
.right-content {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
}

.left-content {
    flex-shrink: 0;
    margin-right: 20px;
}

.right-content {
    flex: 1;
}

.content-header {
    font-size: 24px;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

.file-form {
    display: flex;
    flex-direction: column;
}

input[type='file'] {
    /* margin-top: 10px; */
    margin-bottom: 16px;
}

.left-content-body {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.action-wrapper {
    display: flex;
    align-items: center;
}

.predict-btn {
    padding: 10px 16px;
    border: none;
    outline: none;
    background-color: #2980b9;
    transition: all 0.3s;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.predict-btn:hover{
    background-color: #3498db;
}

.predict-btn.hide{
    opacity: 0;
    visibility: 0;
    display: none;
}

.video-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-items: center;
}

.result-wrapper {
    padding: 16px;
    display: flex;
}

.result-video {
    flex: 1;
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }